@import 'tailwindcss';
@import '@nuxt/ui';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
  --main-bg-color: #f5f5f5;
  --main-text-color: #565656;
  --primary-color: #50c878;
  --accent-color: #388c68;
  --divider-color: 227, 227, 227;
  --error-color: 204, 0, 0;
  --valid-color: 80, 200, 120;
  --valid-text-color: 255, 255, 255;
  --main-bg-darker: #e4e4e4;
  --selected-bg-color: 237, 237, 237;
  --selected-text-color: var(--main-bg-color);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: var(--primary);
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
  --vis-text-color: var(--muted-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #3a404d;
    --main-text-color: #f5f5f5;
    --primary-color: #50c878;
    --accent-color: #388c68;
    --divider-color: 46, 48, 54;
    --main-bg-darker: #353944;
    --selected-bg-color: 136, 133, 119;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'JetBrainsMono', monospace;
  font-size: 16px;
  line-height: 1.35;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  white-space: nowrap;
}

p {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 6px;
  border-width: 1px;
  padding: 0.5rem 1rem;
}

.btn.btn-sm {
  padding: 1rem 1.5rem;
}

.btn.btn-primary {
  /* background: linear-gradient(var(--primary-color), var(--accent-color));
  border-color: transparent;
  box-shadow: inset 0px 0px 14px -3px var(--primary-color); */
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
  /* text-shadow: 0px -1px var(--accent-color); */
}

.btn.btn-primary:hover {
  background: none var(--accent-color);
  cursor: pointer;
}

.site-wrapper {
  @apply flex flex-col min-h-screen relative;
}

.content-wrapper {
  @apply flex flex-1;
}

.site-header {
  @apply flex justify-between mb-[48px] px-4 py-2 fixed top-0 w-full z-100 text-white;
  background-color: var(--primary-color);
}

.site-header a,
.site-header a:focus,
.site-header a:visited {
  @apply text-white decoration-0;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header .logo {
  @apply text-lg font-bold;
  text-shadow: 0px -1px var(--accent-color);
}

#menuToggler {
  @apply cursor-pointer;
}

.site-sidebar {
  background-color: rgba(var(--divider-color));
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  height: calc(100dvh - 2rem);
  padding-top: 45px;
  position: fixed;
  transition: width 500ms ease;
  width: clamp(180px, 200px, 15vw);
  z-index: 2;
}

.site-sidebar.collapsed {
  width: clamp(42px, 48px, 5vw);
}

.site-sidebar.collapsed + .site-content {
  width: clamp(100% - 42px, 100% - 48px, 95vw);
  margin-left: 42px;
}

.site-sidebar .sidebar-control {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

.site-sidebar .sidebar-control i {
  cursor: pointer;
}

.site-sidebar .sidebar-content {
  overflow: hidden;
  padding: 1rem;
}

.site-sidebar.collapsed .sidebar-content {
  margin-left: -100vw;
}

.sidebar-content li {
  padding: 1rem 0 0 0;
}

.sidebar-content li a {
  color: var(--main-text-color);
  font-weight: bold;
  padding: 0 0 1rem 0;
  text-decoration: none;
}

.sidebar-content li ul {
  padding-left: 1.5rem;
}

.sidebar-content li ul li a {
  font-weight: normal;
  font-size: smaller;
}

.site-content {
  margin-left: 42px;
  padding-top: 45px;
  width: clamp(100% - 42px, 100% - 48px, 85vw);
}

.site-content .content-control {
  @apply p-4;
}

.site-footer {
  @apply flex justify-between items-center text-sm px-4 py-2;
}

.badge {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.25rem 0.5rem;
}

h1 span,
section h2 span {
  font-size: small;
  font-weight: 300;
  vertical-align: text-top;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
